<div style="background-image: url('https://images.unsplash.com/photo-1542060748-10c28b62716f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80');">
  <% @body_id = 'signup' %>
  <%= render 'spree/shared/error_messages', target: resource %>

  <div id="new-customer" class="d-flex justify-content-center align-items-center vh-100" >
    <div class="card w-50">
      <h6 class="card-header justify-content-center d-flex "><%= t('spree.new_customer') %></h6>

      <div data-hook="signup" class="align-items-center d-flex flex-column mb-3">
        <%= form_for resource, as: :spree_user, url: spree.registration_path(resource) do |f| %>
          <div data-hook="signup_inside_form">
            <%= render partial: 'spree/shared/user_form', locals: { f: f } %>
            <p><%= f.submit t('spree.create'), class: 'btn btn-success btn-block w-100' %></p>
          </div>
        <% end %>
        <%= t('spree.or') %>&nbsp;<%= link_to t('spree.login_as_existing'), spree.login_path %>
      </div>
    </div>

  </div>

  <div data-hook="login_extras"></div>
</div>
