<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
  <div class="ctn-header container">
    <figure id="logo" class="header__logo columns six" data-hook><%= logo %></figure>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% @taxonomies.each do |taxonomy| %>
            <li class="nav-item dropdown">
              <%= link_to taxonomy.name, '#', class: "nav-link dropdown-toggle", "data-bs-toggle" => "dropdown", "aria-haspopup" => "true" %>
              <%= nav_tree(taxonomy.root, @taxon, 1) %>
            </li>
        <% end %>
      </ul>

      <ul id="main-nav-bar" class="inline list-unstyled" data-hook>
        <li id="link-to-cart" data-hook>
          <noscript>
            <%= link_to t('spree.cart'), spree.cart_path, class:"text-decoration-none" %>
          </noscript>
          &nbsp;
        </li>
      </ul>
      <script>
        Spree.fetch_cart('<%= j spree.cart_link_path %>')
      </script>
    </div>
  </div>
</nav>
